* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url(./img/fond.jpg);
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card:hover{
  transform: translateY(-10px);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 10px;
  background: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

#dialog[open]{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  border-color: #060AB2;
  border-radius: 10px;
}

#dialog::backdrop{
  background-color: rgba(93, 188, 251, 0.5);
}

#tete{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

hr{
  width: 250px;
  border-color: #060AB2;
}

#milieu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#texte{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

img{
  width: 250px;
}

#pied{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: rgb(80, 108, 251);
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
}

button:hover{
  transform: translateY(5px);
  cursor: pointer;
}

#plusAfficher:hover{
  cursor: pointer;
  color: red;
  transform: translateY(-5px);
}

.compteur{
  position: fixed;
  color: white;
}

#fin[open]{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  margin: auto;
  width: 500px;
  height: 250px;
  border-radius: 5px;
}